* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === BASE === */
html,
body {
  overflow: auto;
  height: auto;
  font-family: "Instrument Sans", sans-serif;
}

body {
  max-width: 100vw;
  background-color: #fbfaf4;
  position: relative;
}

main {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* === GRID LINES === */
body::before {
  content: "";
  position: fixed;
  left: 20px;
  top: 0;
  width: 1px;
  height: 100vh;
  z-index: 100;
  background-color: #ed5c5c;
}

body::after {
  content: "";
  position: fixed;
  left: 0;
  top: 40px;
  width: 100vw;
  height: 1px;
  background-color: #ed5c5c;
  z-index: 100;
}

/* === HERO === */

.hero {
  display: flex;
  flex-direction: column;
}

.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  color: #030526;
  padding: 50px 35px 120px 35px;
}

.hero__name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #030526;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 180px 35px 100px 35px;
}

/* === CONTENT SECTION === */

.grid-column {
  min-height: 50vh;
  padding: 0 20px 80px 20px;
}

.grid-column__content {
  margin: 0 auto;
  max-width: 600px;
}

.grid-column__content p {
  font-size: 0.9rem;
  line-height: 1.7;
  font-weight: 400;
  margin-bottom: 20px;
  color: #030526;
}

.grid-column--empty {
  display: none;
}
.grid-column__content h3 {
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #030526;
  font-style: normal;
  padding-bottom: 10px;
}

.grid-column__content a {
  text-decoration: none;
  color: #030526;
}

.grid-column__content h3 .bracket {
  font-style: italic;
}

/* === FOOTER SECTION === */

.footer {
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px 10px 0px;
}

/* === RESPONSIVE DESIGN === */

.desktop-nav {
  display: none;
}

/* === TABLET === */
@media (min-width: 768px) {
  body {
    max-width: 100vw;
  }

  body::before {
    content: "";
    position: fixed;
    left: 40px;
    top: 0;
    width: 1px;
    height: 100vh;
    z-index: 100;
    background-color: #ed5c5c;
  }

  body::after {
    content: "";
    position: fixed;
    left: 0;
    top: 70px;
    width: 100vw;
    height: 1px;
    background-color: #ed5c5c;
    z-index: 100;
  }
}

/* === DESKTOP === */

@media (min-width: 1024px) {
  html,
  body {
    overflow: hidden;
    height: 100vh;
  }

  body {
    overflow: hidden;
  }

  /* === NAVIGATION === */

  .desktop-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    max-width: 100vw;
    height: 70px;
    padding: 0;
    z-index: 200;
  }
  .desktop-nav__name {
    grid-column: 1 / 3;
    padding-left: 40px;
    font-size: 1rem;
    font-weight: 400;
  }

  .desktop-nav__link {
    font-size: 1rem;
    font-weight: 400;
    color: #030526;
    text-decoration: none;
    padding-left: 80px;
  }

  .desktop-nav__links {
    grid-column: 3 / 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* === GRID LINES === */

  body::before {
    content: "";
    position: fixed;
    left: 40px;
    top: 0;
    width: 1px;
    height: 100vh;
    z-index: 100;
    background-color: #ed5c5c;
  }

  body::after {
    content: "";
    position: fixed;
    left: 0;
    top: 70px;
    width: 100vw;
    height: 1px;
    background-color: #ed5c5c;
    z-index: 100;
  }

  /* === HERO === */

  .hero {
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }

  .hero__title {
    font-size: 7rem;
  }

  .hero__name {
    display: none;
  }

  /* === MAIN = GRID CONTAINER === */

  main {
    position: relative;
    margin-top: 70px;
    height: calc(100vh - 70px);
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns, equal width */
    gap: 0;
    z-index: 1; /* Above the hero (z-index: 0) */
    max-width: 100vw;
  }

  .content {
    display: none;
  }

  .footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 40px;
    font-size: 0.75rem;
    color: #030526;
    background-color: transparent;
    z-index: 2; /* Above Grid + Hero */
  }

  /* Grid Columns - Basic Styling */
  .grid-column {
    padding: 30px 30px;
    background-color: transparent;
  }

  /* 1. Columns (Content) = Grid-Column 1-2 */
  .grid-column:first-child {
    grid-column: 1 / 3; /* From column 1 to 3 (= 2 columns) */
    padding-left: 40px;
  }

  /* 2. Columns (Contact) = Grid-Column 3 */
  .grid-column:nth-child(2) {
    grid-column: 3 / 4; /* Column 3 */
    padding-left: 80px;
  }

  /* 3. Columns (What I do) = Grid-Column 4 */
  .grid-column:nth-child(3) {
    grid-column: 4 / 5; /* Column 4 */
  }

  /* 4. Columns (Investigations) = Grid-Column 5 */
  .grid-column:nth-child(4) {
    grid-column: 5 / 6; /* Column 5 */
  }

  /* 5. Columns (Partners) = Grid-Column 6 */
  .grid-column:nth-child(5) {
    display: none;
  }

  .grid-column__content {
    font-size: 0.85rem;
    line-height: 1.6;
  }
  .grid-column__content p {
    margin-bottom: 16px;
  }

  .grid-column__content a {
    color: #ed5c5c;
    text-decoration: none;
  }

  .grid-column__content a:hover {
    text-decoration: underline;
  }

  /*(Placeholder) */
  .grid-column--empty {
    background-color: transparent;
  }
}
