* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: auto;
  height: auto;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  color: white;
  background-color: #fbfaf4;
  position: relative;
}

main {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* left line */
body::before {
  content: "";
  position: fixed;
  left: 20px;
  top: 0;
  width: 1px;
  height: 100vh;
  z-index: 100;
  background-color: #ed5c5c;
}

body::after {
  content: "";
  position: fixed;
  left: 0;
  top: 40px;
  width: 100vw;
  height: 1px;
  background-color: #ed5c5c;
  z-index: 100;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: #030526;
  padding: 50px 35px 120px 35px;
}

.hero__name {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 0 35px 80px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #030526;
  padding: 180px 35px 100px 35px;
}

.content {
  flex: none;
  overflow-y: visible;
  min-height: 50vh;
  padding: 0 20px 80px 20px;
}

.content__text {
  margin: 0 auto;
  max-width: 600px;
}

.content__text p {
  font-size: 0.9rem;
  line-height: 1.7;
  font-weight: 400;
  margin-bottom: 20px;
  color: #030526;
}

.content__detail {
  display: flex;
  flex-direction: row;
}
.content__detail h3,
p,
li {
  font-size: 0.9rem;
  font-weight: 400;
  color: #030526;
}

.sidebar {
  position: fixed;
  top: 40px;
  left: 0px;
  width: 40px;
  padding: 20px 5px;
  z-index: 50;
}

.footer {
  font-size: 0.8rem;
  line-height: 1.3;
  height: 50px;
  padding: 0 15px 0 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}

.footer__text {
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 15px;
  border: none;
  background-color: #080a40;
  color: white;
  padding: 5px;
}

.info-btn {
  height: 40px;
  font-family: "IBM Plex Mono", monospace;

  font-size: 0.8rem;
  font-weight: 400;
  background-color: #080a40;
  color: #d9c148;
  border: none;
  cursor: pointer;
}

/* Responsiv design */

@media (min-width: 768px) {
  body {
    max-width: 1200px;
  }

  .hero__title {
    flex-direction: row;
    gap: 10px;
  }

  .hero {
    padding: 0 60px 0 80x;
  }
  .sidebar__text {
    font-size: 1rem;
  }
}
