* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 100vw;
  height: 100vh;
  color: white;
  position: relative;

  background-color: #879a98;
  background-color: #080a40;
  background-color: #030526;
  background-color: #fbfaf4;

  margin: 0 auto;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* left line */
body::before {
  content: "";
  position: fixed;
  left: 40px;
  top: 0;
  width: 0.5px;
  height: 100vh;
  z-index: 100;
  background-color: grey;
  background-color: #ed5c5c;
}

.header {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px 0 60px;
  border-bottom: 0.5px solid #ed5c5c;
  flex-shrink: 0;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.header__title {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: #d4cb5a;
  color: #d9c148;
  color: #030526;
}

.header__subtitle {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.sidebar {
  position: fixed;
  top: 40px;
  left: 0px;
  width: 40px;
  height: calc(100vh - 40px);
  writing-mode: sideways-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
  z-index: 50;
}

.sidebar__text {
  font-size: 0.8rem;
  line-height: 1.3;
  text-align: center;
  /*color: #ed5c5c;*/
  color: #d4cb5a;
  color: #d9c148;
  color: #d9145c;
  color: #d9c148;
  color: #030526;
}

.hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 50px;
}

.hero__title {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  font-weight: 300;
  font-style: italic;
  color: #001215;
  color: #ed5c5c;
  color: #b62d49;
  color: #d9145c;
  color: #ed5c5c;
  color: #030526;
}

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px 0 50px;
  font-size: 0.8rem;
  line-height: 1.3;
  flex-shrink: 0;
  position: relative;
}

.footer__text {
  /*background-color: #ed5c5c;*/
  background-color: #d4cb5a;
  background-color: #d9c148;
  background-color: #d9145c;
  background-color: #001215;
  background-color: #ed5c5c;

  color: #080a40;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.8rem;
  font-weight: 400;
  font-style: italic;
  border-radius: 15px;
  border: none;
  padding: 5px;
}

/* Responsiv design */

@media (min-width: 768px) {
  .header__subtitle {
    display: block;
  }
}
