* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  color: white;
  background-color: #fbfaf4;
  position: relative;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* left line */
body::before {
  content: "";
  position: fixed;
  left: 40px;
  top: 0;
  width: 1px;
  height: 100vh;
  z-index: 100;
  background-color: #ed5c5c;
}

.header {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px 0 60px;
  border-bottom: 1px solid #ed5c5c;
  flex-shrink: 0;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.header__title {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: #030526;
}

.header__subtitle {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; /* Mobile hidden*/
}

.sidebar {
  position: fixed;
  top: 40px;
  left: 0px;
  width: 40px;
  height: calc(100vh - 40px);
  writing-mode: sideways-lr; /* Text from bottom to top */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5px;
  z-index: 50;
}

.sidebar__text {
  font-size: 0.8rem;
  line-height: 1.3;
  font-weight: 400;
  text-align: center;
  color: #030526;
}

.hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 50px;
}

.hero__title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  font-style: italic;
  color: #030526;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0px;
}

.footer {
  font-size: 0.8rem;
  line-height: 1.3;
  height: 50px;
  padding: 0 15px 0 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}

.footer__text {
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 15px;
  border: none;
  background-color: #080a40;
  color: white;
  padding: 5px;
}

.info-btn {
  height: 40px;
  font-family: "IBM Plex Mono", monospace;

  font-size: 0.8rem;
  font-weight: 400;
  background-color: #080a40;
  color: #d9c148;
  border: none;
  cursor: pointer;
}

/* Responsiv design */

@media (min-width: 768px) {
  .header__subtitle {
    display: block;
  }

  .hero__title {
    flex-direction: row;
    gap: 10px;
  }
}
